//
// Copyright (C) 2026, Samuel Zormeister.
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
//

#include "corecrypto.xcconfig"

// This is here for the future.
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(SRCROOT)
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(SRCROOT)/cckprng/include
